<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Dojo survey</title>
</head>
<body class="bg-light">
    <div class="border d-flex flex-column mt-5 px-2" style="margin: 0 30%;">
        <form action="/processingInformation" method="POST">
            <h1 class="rounded p-3 mb-4 bg-dark text-warning">Dojo survey</h1>
            <div class="mb-3 d-flex flex-column">
                <label class="mb-2" for="name" >Your name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="mb-3">
                <label class="mb-2" for="location">Dojo location</label>
                <select class="form-select form-select-sm mb-3 text-white bg-dark" name="location" id="location">
                    <option value="">- Select one -</option>
                    <option value="chicago">Chicago</option>
                    <option value="Burbank">Burbank</option>
                    <option value="Seattle">Seattle</option>
                    <option value="online">Online</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="mb-2" for="language">Favorite language</label>
                <select class="form-select form-select-sm mb-3 text-white bg-dark" name="language" id="language">
                    <option value="">- Select one -</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="Javascript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                </select>
            </div>
            <div class="mb-3 d-flex flex-column align-items-start ">
                <label class="mb-2"  for="comments">Your comments (Optional)</label>
                <textarea name="comments" rows="5" placeholder="Type your comments here" style="border-radius: 3px; width: 100%; "></textarea>
            </div>
            <div class="d-grid gap-2">
                <button class="rounded border-0 text-nowrap btn-lg btn-dark btn-outline-warning" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</body>
</html>